.calc {
	&__btn {
		padding: 0.6em 0.8em;
		color: #eee;
		background-color: rgb(42, 41, 49);
		border: 1px solid transparent;
		border-radius: 4px;
		font-size: 2rem;
		user-select: none;
		transition: border 0.3s;
		cursor: pointer;

		&--operation {
			background-color: #080710;
		}

		&--clear {
			background-color: red;
		}

		&:active {
			border: 1px solid #eee;
		}

		&:last-of-type {
			grid-column: 3/5;
		}
	}
}
