.calc {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 3em 2em 1em;
	max-width: 340px;
	background-color: rgba(255, 255, 255, 0.07);
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	border-radius: 12px;

	&__display {
		padding: 0 0.5em;
		margin-bottom: 1em;
		height: 64px;
		background-color: rgb(42, 41, 49);
		border-radius: 4px;
		line-height: 64px;
		letter-spacing: 1px;
		text-align: end;
		overflow: hidden;
	}

	&__box {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 0.8em;
	}

	&__btn {
		padding: 0.6em 0.8em;
		color: #eee;
		background-color: rgb(42, 41, 49);
		border: 1px solid transparent;
		border-radius: 4px;
		font-size: 2rem;
		user-select: none;
		transition: border 0.3s;
		cursor: pointer;

		&--operation {
			background-color: #080710;
		}

		&--clear {
			background-color: red;
		}

		&:active {
			border: 1px solid #eee;
		}

		&:last-of-type {
			grid-column: 3/5;
		}
	}
}
