.calc {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 3em 2em 1em;
	max-width: 340px;
	background-color: rgba(255, 255, 255, 0.07);
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	border-radius: 12px;

	&__display {
		padding: 0 0.5em;
		margin-bottom: 1em;
		height: 64px;
		background-color: rgb(42, 41, 49);
		border-radius: 4px;
		line-height: 64px;
		letter-spacing: 1px;
		text-align: end;
		overflow: hidden;
	}

	&__box {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 0.8em;
	}
}
